@import 'tailwindcss';

@theme {
    --color-primary: #0ab463;
    --color-background: #ededed;
    --color-disabled: #c4c4c4;
    --color-separator: #c4c4c4;
    --color-typography-primary: #383838;
    --color-typography-secondary: #c4c4c4;
    --color-link: #0094ff;
    --spacing: 4px;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
}
